<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Font Link -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">

        <!-- CSS Link -->
        <link  rel=stylesheet href="{% static 'style.css' %}">

        <!-- Title -->
        <title>Story 8 Bagus</title>

        <!-- jQuery Link -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $(document).ready(function() {
            $(function() {
                $("#accordion" ).accordion({
                    header: ".header"
                });
            });
        });


        function UpAccordion(elementId) {
            e = document.getElementById(elementId);
            e.parentNode.insertBefore(e, e.previousSibling);
        }

        function DownAccordion(elementId) {
            e = document.getElementById(elementId);
            e.parentNode.insertBefore(e, e.nextSibling.nextSibling);
        }
        </script>


        </script>

    </head>

    <body class="background">

        <div id="accordion">

            <!-- First Accordion -->
            <div id="accordion-1">

                 <div class="header">

                    <p class="title">NAME</p>

                    <div>

                        <button class="buttons" onclick="UpAccordion('accordion-1')">↟</button>
                        <button class="buttons" onclick="DownAccordion('accordion-1')">↡</button>

                     </div>
                    
                </div>
    
                <div class="content">

                  Bagus Prabowo

                </div>

            </div>
    
            <!-- Second Accordion -->
            <div id="accordion-2" name="title_test">

                <div class="header">
                    
                    <p class="title">Faculty</p>

                    <div >

                        <button class="buttons" onclick="UpAccordion('accordion-2')" name="up_button">↟</button>
                        <button class="buttons" onclick="DownAccordion('accordion-2')" name="down_button">↡</button>

                    </div>

                </div>
    
                <div class="content">

                    Faculty of Computer Science

                </div>

            </div>
    
            <!-- Third Accordion -->
            <div id="accordion-3">

                <div class="header">

                    <p class="title">Year</p>

                    <div>

                        <button class="buttons" onclick="UpAccordion('accordion-3')">↟</button>
                        <button class="buttons" onclick="DownAccordion('accordion-3')">↡</button>

                    </div>

                </div>
    
                <div class="content">

                  2019

                </div>

            </div>
    
            <!-- Fourth Accordion -->
            <div id="accordion-4">

                <div class="header">

                    <p class="title">Message</p>

                    <div>

                        <button class="buttons" onclick="UpAccordion('accordion-4')">↟</button>
                        <button class="buttons" onclick="DownAccordion('accordion-4')">↡</button>

                    </div>

                </div>
    
                <div class="content">

                    Have a nice day

                </div>

            </div>

        </div>
    

    </body>

</html>
