.background{
    background-color: black;
    margin-top: 50px;
}

.title{
    font-size: 200%;
    font-family: 'Playfair Display', serif;
    color: orange;
}

.buttons{
    font-size: 250%;
    color: white;
    background-color: black;
    border: none;
}

.content{
    font-size: 175%;
    font-family: 'Playfair Display', serif;
    color: yellow;
}